{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static "PLLS/static/css/app.css" %}">

    <title>PLLS</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
        <nav class="teal accent-5">
            <div class="nav-wrapper">
                <a href="{% url 'index' %}" class="brand-logo center">PLLS</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="">Поиск</a></li>
                    <li><a href="{% url 'index' %}"></a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="">Поиск</a></li>
                    <li><a href="">Банки</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </nav>

    <main>

        {% block content %} {% endblock content %}

    </main>

    <footer class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">PLLS</h5>
                    <p class="grey-text text-lighten-4">Прототип системы контроля знаний языков программирования</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Anton Kostryukov 15BI-2
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>

</html>
