{% extends "layout.html" %}
{% load static %}

{% block content %}

    <div id="index-banner" class="logo-bar">
        <div class="section no-pad-bot">
            <div class="container center">
                <br>
                <img src="{% static "images/logo.png" %}" class="img">
                <h2 class="header center teal-text text-darken-4">ABOUT <b>ME</b></h2>
                <div class="row center">
                    <h5 class="header col s12 light teal-text text-darken-3">JUST SOME INFO</h5>
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <div class="icon-block">
                        <h2 class="center"><img src="{% static "images/icon.png" %}"></h2>
                        <h5 class="center">Hello, I'm Anton Kostrukov!</h5>
                        <p class="light">An ordinary 2 grade Business-Informatics student of RNU HSE NN who needs some
                            practice.
                            By now, I'm yet another Junior Python & C++ Dev. :)</p> <!-- TODO -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
