{% extends "layout.html" %}
{% load static %}

{% block content %}

<div id="index-banner" class="logo-bar">
    <div class="section no-pad-bot">
        <div class="container center">
            <br>
            <img src="{% static "images/logo.png" %}" class="img">
            <h2 class="header center teal-text text-darken-4">LEARN <b>IT</b></h2>
            <div class="row center">
                <h5 class="header col s12 light teal-text text-darken-3">PROTOTYPE OF LEARNING SYSTEM FOR VARIOUS
                    PROGRAMMING LANGUAGES</h5>
            </div>
            <br><br>
        </div>
    </div>
</div>


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center"><img src="{% static "images/icon.png" %}"></h2>
                    <h5 class="center">Python</h5>
                    <p class="light">dolor sit amet, consectetur adipiscing elit. Nam id lacinia odio. Praesent varius
                        purus sit amet mi sagittis feugiat. Sed id pretium erat. Etiam velit mauris, mattis nec odio
                        eget, hendrerit fringilla lorem. Nullam quis pulvinar neque. Aenean egestas ex nunc, sed
                        malesuada ante hendrerit in. Mauris non magna et felis malesuada finibus ut et quam.</p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center"><img src="{% static "images/icon.png" %}"></h2>
                    <h5 class="center">C++</h5>
                    <p class="light">dolor sit amet, consectetur adipiscing elit. Nam id lacinia odio. Praesent varius
                        purus sit amet mi sagittis feugiat. Sed id pretium erat. Etiam velit mauris, mattis nec odio
                        eget, hendrerit fringilla lorem. Nullam quis pulvinar neque. Aenean egestas ex nunc, sed
                        malesuada ante hendrerit in. Mauris non magna et felis malesuada finibus ut et quam.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}