{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>PLLS</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="" role="navigation">
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'LS:tasks' %}">Tasks</a></li>
            <li><a href="{% url 'LS:about' %}">About</a></li>
            <li><a href="{% url 'LS:contacts' %}">Contacts</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'LS:tasks' %}">Tasks</a></li>
            <li><a href="{% url 'LS:about' %}">About</a></li>
            <li><a href="{% url 'LS:contacts' %}">Contacts</a></li>
        </ul>
    </div>
</nav>

<main>

    {% block content %} {% endblock content %}

</main>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l12 s12"><h5>About work</h5></div>
            <div class=" col l6 s12">
                <P>
                    <!-- TODO -->
                </P>
            </div>
            <div class="col l6 s12">
                <div class="row social center">
                    <div class="col l2 s2">
                        <a href="https://facebook.com/anton.kostrukov"><img src="{% static "assets/f.png"  %}"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="http://twitter.com/#!/a_kostryukov"><img src="{% static "assets/t.png" %}"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="skype:t0t0lllka?call"><img src="{% static "assets/s.png" %}"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="https://github.com/T0nIko"><img src="{% static "assets/gh.png" %}"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="mailto:anton97kos@gmail.com"><img src="{% static "assets/g.png" %}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="black-text text-lighten-2" href="">Anton Kostryukov</a> 15BI-2
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="{% static "js/materialize.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>

</body>
</html>
