<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<nav class="" role="navigation">
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="tasks.html">Tasks</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="tasks.html">Tasks</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <br>
    <div class="col l12 m12 s12 tasks">
        <div class="row">
            <div class="col l3 m3 s12 bgq">
                <div class="name_of_quest">
                    <p>Lorem ipsum</p>
                </div>
                <div class="description_of_quest">
                    <p>dolor sit amet, consectetur adipiscing elit. Nam id lacinia odio. Praesent varius purus sit amet
                        mi sagittis feugiat. Sed id pretium erat. Etiam velit mauris, mattis nec odio eget, hendrerit
                        fringilla lorem.</p>
                </div>
            </div>
            <div class="col l9 m9 s12">
            </div>
        </div>
    </div>
    <br>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l12 s12"><h5>Lorem ipsum</h5></div>
            <div class=" col l6 s12">
                <p>dolor sit amet, consectetur adipiscing elit. Nam id lacinia odio. Praesent varius purus sit amet mi
                    sagittis feugiat. Sed id pretium erat. Etiam velit mauris, mattis nec odio eget, hendrerit fringilla
                    lorem.</p>
            </div>
            <div class="col l6 s12">
                <div class="row social center">
                    <div class="col l2 s2">
                        <a href="https://facebook.com/anton.kostrukov"><img src="assets/f.png"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="http://twitter.com/#!/a_kostryukov"><img src="assets/t.png"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="skype:t0t0lllka?call"><img src="assets/s.png"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="https://github.com/T0nIko"><img src="assets/gh.png"></a>
                    </div>
                    <div class="col l2 s2">
                        <a href="mailto:anton97kos@gmail.com"><img src="assets/g.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="">Anton Kostrukov</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
